/* Joplin Theme: Joplin Minimalist Light Theme*/
/* Author: Manuel Ernesto Garcia (manuelernestog.github.io)*/
/* Made for Joplin 2.8.8 */

/* ------------------ Vars ------------------------*/

:root {
    --white: #fffff;
    --pure-black: black;
    --black: #24292f;
    --black-light: #57606a;
    --btn-color: #2f2f2f;
    --sidebar-bg: #f6f8fa;
    --sidebar-item-selected-color: #e6e6e6;
    --sidebar-item-selected-hover-color: #dfdfdf;
    --sidebar-disabled-text-color: #6e7781;
    --sidebar-item-hover-color: #f1f1f1;
    --second-sidebar-item-selected-color: #f4f5f6;
    --second-sidebar-item-hover-color: #fbfbfb;
    --second-sidebar-item-border: 1px solid #f0f0f0;
    --grey-border: 1px solid #d0d7de;
    --icon-hover-bg-color: #b8b8b84f
}

/* ------------------ Sidebar ------------------------*/

.sidebar .icon-notebooks,
.sidebar .icon-tags,
.sidebar .icon-notes {
    display: none;
}

.sidebar {
    background-color: var(--sidebar-bg) !important;
    border-right: var(--grey-border) !important;
}

/* Sidebar Header */
.eIbLtS span,
.eOarHg {
    color: var(--black) !important;
}

/* Sidebar Item */

.folders .list-item-container:hover,
.tags .list-item-container:hover {
    background-color: var(--sidebar-item-hover-color) !important;
}

.folders .list-item-container.selected,
.tags .list-item-container.selected {
    background-color: var(--sidebar-item-selected-color) !important;
}

.folders .list-item-container.selected .title,
.tags .list-item-container.selected .tag-label {
    color: var(--black);
    font-weight: 500;
}

.folders .list-item-container.selected .note-count-label,
.tags .list-item-container.selected .note-count-label {
    color: var(--black);
}


.folders .list-item-container.selected:hover,
.tags .list-item-container.selected:hover {
    background-color: var(--sidebar-item-selected-hover-color) !important;
}


.folders .list-item-container .list-item div:not(.note-count-label) span,
.tags .list-item-container .list-item div:not(.note-count-label) span {
    font-size: 16px !important;
}

.item-list .list-item-container span {
    text-overflow: ellipsis;
    padding-right: 20px;
    overflow: hidden;
}

/* Sidebar disable-Item */
.likJgd,
.sidebar .dDQgvd,
.gYkyEX {
    color: var(--sidebar-disabled-text-color) !important;
}

/* Item Arrows */

.sidebar .fas {
    color: var(--pure-black) !important;
}

.jBRUMO {
    background-color: var(--btn-color) !important;
    border-radius: 25px !important;
}

/* ---------------------Second side bar -------------------*/

/* Container */
.gZSVJS {
    border-right: var(--grey-border) !important;
}

/* Second side bg */
.dUaXPj {
    background-color: var(--white) !important;
    border-right: unset !important;
}

/* Icons bar */
.kbvovF {
    background-color: var(--white) !important;
}

/* Top Icons */

.rHJEa {
    background-color: var(--white) !important;
}

.rHJEa .icon-note {
    font-size: 17px !important;
}

.hiTMxw {
    border: none !important;
    background-color: var(--white) !important;
}

.bWOglY {
    font-size: 15px !important;
    color: var(--black-light) !important;
}

.iPvite {
    color: var(--black-light) !important;
}

.bPQimV {
    color: var(--black-light) !important;
}

/* Items */

.note-list-item:before,
.todo-list-item:before {
    border-bottom: var(--second-sidebar-item-border) !important;
}

.item-list .list-item-container:hover {
    background-color: var(--second-sidebar-item-hover-color) !important;
}

.item-list .list-item-container.selected {
    background-color: var(--second-sidebar-item-selected-color) !important;
}

input[type='checkbox'] {
    accent-color: var(--btn-color) !important;
}

/* Body */

.rli-editor>div>div {
    background-color: var(--white) !important;
}

.joplin-tinymce {
    margin-right: 8px;
}

.joplin-tinymce div:nth-child(1) {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.joplin-tinymce div:nth-child(2) {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.joplin-tinymce .tox .tox-edit-area__iframe {
    margin-top: 7px !important;
}

.tox .tox-toolbar__group .tox-tbtn svg,
.tox .tox-toolbar__group .tox-tbtn {
    color: var(--black-light) !important;
    fill: var(--black-light) !important;
}

.jmaLHH {
    color: var(--black-light) !important;
}

.bhIpvW:hover,
.gnqIdO:hover,
.tox .tox-tbtn:hover {
    background-color: var(--icon-hover-bg-color) !important;
}

.dLxEDu {
    background-color: var(--btn-color) !important;
}

.dLxEDu .icon-notebooks {
    display: none;
}

/* --------------------------Config-------------------- */

.config-screen>div:nth-child(1) {
    background-color: var(--sidebar-bg) !important;
    border-right: var(--grey-border) !important;
}

.config-screen>div:nth-child(2) {
    background-color: var(--white) !important;
}

.config-screen>div:nth-child(1) a * {
    color: var(--black);
}

.config-screen>div:nth-child(1) a.hWxWTS * {
    color: var(--black);
}

.config-screen>div:nth-child(1) a.hWxWTS,
.config-screen>div:nth-child(1) a.hWxWTS:hover {
    background-color: var(--sidebar-item-selected-color) !important;
}

.config-screen>div:nth-child(1) a:hover {
    background-color: var(--sidebar-item-hover-color) !important;
}


/* buttons */

.hQVMFi {
    background-color: var(--btn-color) !important;
}

.jUNGaY .fa {
    color: var(--btn-color) !important;
}

.jUNGaY .sc-AxiKw {
    color: var(--btn-color) !important;
}


/* --------------------------------Modals-------------------------------- */

.master-password-dialog .dialog-content {
    background-color: var(--white) !important;
}